<div class="container mt-5">
  <h1 class="text-center">{{ title }}</h1>
  <div class="row">
    <ng-container
      *ngFor="
        let Blog of Blogs | paginate: { itemsPerPage: 6, currentPage: page };
        let i = index
      "
    >
      <div *ngIf="!Blog.status" class="col-md-4 mb-4" id="bk-{{ Blog.id }}">
        <div class="card">
          <div class="blog-img">
            <img [src]="Blog.image" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ Blog.title }}</h5>
            <p class="card-text">{{ Blog.content }}</p>
            <a (click)="openPost(Blog.id)" class="btn btn-primary">Reed More</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- fawfrwa -->
  <ng-container *ngIf="Blogs.length == 0; else pagg">
    loading....
  </ng-container>
</div>
<ng-template #pagg>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</ng-template>
